@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@media (min-width: 641px) {
    span.icon {display:none}
    span.text {display:inline-block}
}

@media (max-width: 640px) {
    span.icon {display:inline-block}
    span.text {display:none}
}

.text-digital {
  font-family: 'Orbitron', sans-serif;
    margin-top: 10vh;
}

.bg-red {
  background-color: red;
}

.banner{

}


.timer{
    
    background-color: gray;
    height: 50vh;

}

.btn-group{
        display: block;
    width: 50%;
    margin-top: 10vh;
}
